{% extends 'base.html' %}

{% block sidebar %}
    {% include 'inc/_sidebar.html' %}
{% endblock %}

{% block title %}
    Mail
{% endblock %}

{% block content %}
    <form action="{% url 'weather:mail' %}" method="post" autocomplete="off">
        {% csrf_token %}
        <div class="card mb-4">
            <div class="card-header">
                <div class="form-group">
                    <input type="text" class="form-control" name="mail_to"
                           value="{{ user.email }}" required="" id="id_mail_to">
                    {% if form.mail_to.errors %}
                        {% for error in form.username.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}
                    </label>
                    <br>
                    <button type="submit" class="btn-outline-success btn btn-block">
                        Submit
                    </button>
                </div>
            </div>
        </div>
    </form>

{% endblock %}

{% block pagination %}
{% endblock %}