{% extends 'base.html' %}

{% block title %}
    {{ user.first_name }} {{ user.last_name }}
{% endblock %}

{% block sidebar %}
    {% include 'inc/_sidebar.html' %}
{% endblock %}

{% block pagination %}
{% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
        <form action="" method="post" autocomplete="off" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card mb-4">
                <div class="card-header">
                    <h5 style="color: forestgreen">
                        <strong>
                            {{ user.first_name }} {{ user.last_name }}
                        </strong>
                        <h6 style="color: forestgreen">
                            {{ user.username }}
                        </h6>
                    </h5>
                </div>
                <div class="card-body">
                    <div class="media">
                        <div class="media-body">
                            <h6 class="card-text">
                                <label for="id_password">
                                    <h6>Password:</h6>
                                    <input type="password" class="form-control" name="password" required="">
                                </label>
                                <label for="id_password2">
                                    <h6>Repeat password:</h6>
                                    <input type="password" class="form-control" name="password2">
                                    {% if form.errors %}
                                        {% for error in form.password2.errors %}
                                            <br>
                                            <div class="alert alert-danger">
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </label>
                            </h6>
                            <button type="submit" class="btn-outline-success btn btn-block">
                                Update
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    <strong>
                        <a href="/profile/{{ user.pk }}/update/">Back to editing</a>
                    </strong>
                </div>
            </div>
        </form>
    {% else %}
        <div class="alert alert-danger">
            <strong>
                You are not authorized to view this page.
            </strong>
        </div>
    {% endif %}
{% endblock %}

{% block time %}
    {% include 'inc/_time.html' %}
{% endblock %}
