{% extends 'base.html' %}

{% block title %}
    {{ profile.first_name }} {{ profile.last_name }}
{% endblock %}

{% block sidebar %}
    {% include 'inc/_sidebar.html' %}
{% endblock %}

{% block pagination %}
{% endblock %}

{% block content %}
    <div class="card mb-4">
        <div class="card-header">
            <h5 style="color: forestgreen">
                <strong>
                    {{ profile.first_name }} {{ profile.last_name }}
                </strong>
            </h5>
        </div>
        <div class="card-body">
            <div class="media">
                <div class="media-body">
                    <h6 class="card-text">
                        {% if profile.username == user.username %}
                            Username – {{ profile.username }} <br>
                        {% else %}
                            Username is hidden <br>
                        {% endif %}
                        {% if profile.email %}
                            Email – {{ profile.email }} <br>
                        {% endif %}
                        {% if profile.phone_number %}
                            Phone number – {{ profile.phone_number }} <br>
                        {% endif %}
                        {% if profile.photo %}
                            <img src="{{ profile.photo.url }}" width="100%">
                        {% endif %}
                    </h6>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted">
                <strong>
                    <a href="/profile/{{ user.id }}/update/">Edit profile</a>
                </strong>
        </div>
    </div>
{% endblock %}