{% extends 'base.html' %}
{% load tz %}

{% block title %}
    {{ profile.first_name }} {{ profile.last_name }}
{% endblock %}

{% block sidebar %}
    {% include 'inc/_sidebar.html' %}
{% endblock %}

{% block pagination %}
    {% if request.META.HTTP_REFERER|cut:"http://127.0.0.1:8000" != '/login/' %}
        {% if request.META.HTTP_REFERER|cut:"http://127.0.0.1:8000" == request.get_full_path %}
            {% if request.META.HTTP_REFERER is not None %}
                <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-outline-success btn-block">
                    Previous page
                </a>
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="card mb-4">
        <div class="card-header">
            <h5 style="color: forestgreen">
                <strong>
                    {{ profile.first_name }} {{ profile.last_name }}
                </strong>
            </h5>
        </div>
        <div class="card-body">
            <div class="media">
                <div class="media-body">
                    <h6 class="card-text">
                        {% if profile.username == user.username %}
                            Username – {{ profile.username }} <br>
                        {% else %}
                            Username is hidden <br>
                        {% endif %}
                        {% if profile.email %}
                            Email – {{ profile.email }} <br>
                        {% endif %}
                        {% if profile.phone_number %}
                            Phone number – {{ profile.phone_number }} <br>
                        {% endif %}
                        City - {{ profile.user_city }} <br>
{#                        Timezone - {{ request.session.django_timezone }} <br>#}
                        {% if profile.photo %}
                            <img src="{{ profile.photo.url }}" width="100%">
                        {% endif %}
                    </h6>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted">
            <strong>
                {% if profile.username == user.username %}
                    <a href="/profile/{{ user.id }}/update/">Edit profile</a> <br>
                {% endif %}
            </strong>
        </div>
    </div>
{% endblock %}