{% extends 'base.html' %}

{% block title %}
  {{ user.first_name }} {{ user.last_name }}
{% endblock %}

{% block sidebar %}
  {% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
  {% if request.user.is_authenticated %}
    <form id="password-update-form" autocomplete="off" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="card mb-4">
        <div class="card-header">
          <h5>
            <strong>
              {{ user.first_name }} {{ user.last_name }}
            </strong>
          </h5>
          {{ user.username }}
        </div>
        <div class="card-body">
          <div class="media">
            <div class="media-body">
              <h6 class="card-text">
                <label for="id_password">
                  Password:
                  <input type="password" class="form-control" name="password" required="">
                </label>
                <label for="id_password2">
                  <h6>Repeat password:</h6>
                  <input type="password" class="form-control" name="password2">
                  {% if errors %}
                    {% for error in errors.password2 %}
                      <br>
                      <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                      </div>
                    {% endfor %}
                  {% endif %}
                </label>
              </h6>
              <button type="submit" class="btn-outline-primary btn btn-block">
                Update
              </button>
            </div>
          </div>
        </div>
        <div class="card-footer text-muted">
          <a href="{% url 'siteweather:profile:profile_update' %}">Back to editing</a>
        </div>
      </div>
    </form>
  {% else %}
    <div class="btn btn-block disabled btn-danger">
      <strong>
        You are not authorized to view this page.
      </strong>
    </div>
  {% endif %}
{% endblock %}

{% block time %}
  {% include 'inc/_time.html' %}
{% endblock %}

{% block javascript %}
  <script>
    $(document).ready(function () {
      let token = '{{ csrf_token }}';
      $("#password-update-form").submit(function (event) {
        event.preventDefault();
        let serializerData = $(this).serialize();
        $.ajax({
          type: 'PUT',
          data: serializerData,
          headers: {"X-CSRFToken": token},
          async: false,
          success: function (response) {
            location.href = '{% url 'siteweather:profile:profile' pk %}';
            alert(response.message);
          },
          error: function (response) {
            alert(response["responseJSON"]["error"]);
          }
        })
      })
    })
  </script>
{% endblock %}