{% extends 'base.html' %}
{% load siteweather_extras %}

{% block title %}
  {{ user.first_name }} {{ user.last_name }}
{% endblock %}

{% block sidebar %}
  {% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
  {% if request.user.is_authenticated %}
    <div class="card mb-4">
      <form id="profile-update-form" autocomplete="off" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card-header">
          <h5>
            <strong>
              {{ user.first_name }} {{ user.last_name }}
            </strong>
          </h5>
          {{ user.username }}
        </div>
        <div class="card-body">
          <div class="media">
            <div class="media-body">
              <h6 class="card-text">
                <label for="id_first_name">
                  <h6>First name:</h6>
                  <input type="text" class="form-control" name="first_name"
                         value="{{ user.first_name }}" required="" id="id_first_name">
                  {% if errors %}
                    {% for error in errors.first_name %}
                      <br>
                      <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                      </div>
                    {% endfor %}
                  {% endif %}
                </label>
                <label for="id_last_name">
                  <h6>Last name:</h6>
                  <input type="text" class="form-control" name="last_name"
                         value="{{ user.last_name }}">
                  {% if errors %}
                    {% for error in errors.last_name %}
                      <br>
                      <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                      </div>
                    {% endfor %}
                  {% endif %}
                </label>
                <label for="id_email">
                  <h6>Email:</h6>
                  <input type="text" class="form-control" name="email"
                         value="{{ user.email }}">
                  {% if errors %}
                    {% for error in errors.email %}
                      <br>
                      <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                      </div>
                    {% endfor %}
                  {% endif %}
                </label>
                <label for="id_user_city">
                  <h6>City:</h6>
                  <input type="text" class="form-control" name="user_city"
                         value="{{ user.user_city }}">
                  {% if errors %}
                    {% for error in errors.user_city %}
                      <br>
                      <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                      </div>
                    {% endfor %}
                  {% endif %}
                </label>
                <label for="id_date_of_birth">
                  Date of birth:
                  <input type="date" class="form-control" name="date_of_birth"
                         value="{{ user.date_of_birth|parse_date_to_string }}" required="" id="id_date_of_birth"
                         max="{% now 'Y-m-d' %}">
                </label>
                {% if errors %}
                  {% for error in errors.date_of_birth %}
                    <div class="alert alert-danger">
                      <strong>{{ error|escape }}</strong>
                    </div>
                  {% endfor %}
                {% endif %}
                <label for="id_phone_number">
                  <h6>Phone number:</h6>
                  <input type="text" class="form-control" name="phone_number"
                         value="{{ user.phone_number }}">
                  {% if errors %}
                    {% for error in errors.phone_number %}
                      <br>
                      <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                      </div>
                    {% endfor %}
                  {% endif %}
                </label>
                <label for="id_photo">
                  <h6>Photo:</h6>
                  {% if user.photo %}
                    currently: <img src="{{ user.photo.url }}" width=100% alt="profile_photo" class="img-thumbnail">
                  {% endif %}
                  <input type="checkbox" name="photo-clear" id="photo-clear_id">
                  <label for="photo-clear_id">Clear</label><br>
                  Change:
                  <input type="file" name="photo" accept="image/*" id="id_photo">
                  {% if errors %}
                    {% for error in errors.photo %}
                      <br>
                      <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                      </div>
                    {% endfor %}
                  {% endif %}
                </label>
              </h6>
              <button type="submit" class="btn-outline-primary btn btn-block">
                Update
              </button>
            </div>
          </div>
        </div>
      </form>
      <div class="card-footer text-muted">
        <strong>
          <a href="{% url 'siteweather:profile:password_update' %}">Change password</a>
        </strong>
      </div>
    </div>
  {% else %}
    <div class="btn btn-block disabled btn-danger">
      <strong>
        You are not authorized to view this page.
      </strong>
    </div>
  {% endif %}
{% endblock %}

{% block time %}
  {% include 'inc/_time.html' %}
{% endblock %}

{% block javascript %}
  <script>
    $(document).ready(function () {
      let token = '{{ csrf_token }}';
      $("#profile-update-form").submit(function (event) {
        event.preventDefault();
        let form_data = new FormData($("#profile-update-form")[0]);
        form_data.append('file', $('input[type=file]')[0].files[0]);
        $.ajax({
          type: 'PATCH',
          data: form_data,
          headers: {"X-CSRFToken": token},
          processData: false,
          contentType: false,
          success: function () {
            location.href = '{% url 'siteweather:profile:profile' user.pk %}';
          },
          failure: function (response) {
            alert(response["responseJSON"]["error"]);
          }
        })
      })
    })
  </script>
{% endblock %}