{% extends 'base.html' %}
{% load siteweather_extras %}


{% block title %}
  {{ city_item.location.city_name }} | {{ city_item.timestamp|parse_time|date:'m-d-Y' }}
{% endblock %}

{% block sidebar %}
  {% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
  <div class="card mb-4">
    <div class="card-header">
      <h5>
        {{ city_item.location.city_name }} | {{ city_item.location.country }}
      </h5>
    </div>
    {% searched_counter city_item.location.city_name request as counter %}
    {% for i in counter.values %}
      {% if not user.is_anonymous %}
        <div class="card-header">
          Searched {{ i }} time(s) by you
        </div>
      {% endif %}
    {% endfor %}
    <div class="card-body">
      <div class="media">
        <img src="https://openweathermap.org/img/w/{{ city_item.weather_description.weather_icon }}.png" alt="icon">
        <div class="media-body">
          <h6 class="card-text">{{ city_item.temperature }}°C <br>
            {{ city_item.weather_description.full_description }}</h6>
          <h6 class="card-text">
            Humidity - {{ city_item.humidity }}% <br>
            Pressure - {{ city_item.pressure }} hPa <br>
            Wind speed - {{ city_item.wind_speed }} meter/sec
          </h6>
        </div>
      </div>
    </div>
    <div class="card-footer text-muted">
      {{ city_item.timestamp|parse_time|date:'Y-m-d | H:i:s' }}
    </div>
    {% if city_item.customers %}
      <div class="card-footer text-muted">
        Users from {{ city_item.location.city_name }}: <br>
        {% for profile in city_item.customers %}
          {% if not forloop.last %}
            <a href="{% url 'siteweather:profile:profile' profile.pk %}">
              {{ profile.first_name }} {{ profile.last_name }}
            </a>,
          {% else %}
            <a href="{% url 'siteweather:profile:profile' profile.pk %}">
              {{ profile.first_name }} {{ profile.last_name }}
            </a>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
    {% if city_item.permission %}
      <div class="card-footer text-muted">
        <a href="{% url 'siteweather:delete' city_item.pk %}">
          Delete this block
        </a>
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block time %}
  {% include 'inc/_time.html' %}
{% endblock %}
