{% extends 'base.html' %}
{% load siteweather_extras %}


{% block title %}
    {{ city_item.city_name }} | {{ city_item.timestamp|date:'m/d/Y' }}
{% endblock %}

{% block sidebar %}
    {% include 'inc/_sidebar.html' %}
{% endblock %}

{% block pagination %}
    {% ifnotequal request.META.HTTP_REFERER|cut:"http://127.0.0.1:8000" request.get_full_path %}
        {% if request.META.HTTP_REFERER is not None %}
            <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-outline-success btn-block">
                Previous page
            </a>
        {% endif %}
    {% endifnotequal %}
{% endblock %}

{% block content %}
    <div class="card mb-4">
        <div class="card-header">
            <h5>
                {{ city_item.city_name }} | {{ city_item.country }}
            </h5>
        </div>
        {% searched_counter city_item request as counter %}
        {% for i in counter.values %}
            {% if i > 1 %}
                <div class="card-header">
                    Searched {{ i }} time(s)
                </div>
            {% endif %}
        {% endfor %}
        <div class="card-body">
            <div class="media">
                <img src="https://openweathermap.org/img/w/{{ city_item.weather_icon }}.png"/>
                <div class="media-body">
                    <h6 class="card-text">{{ city_item.temperature }}°C <br>
                        {{ city_item.weather_full_description }}</h6>
                    <h7 class="card-text">
                        Humidity - {{ city_item.humidity }}% <br>
                        Pressure - {{ city_item.pressure }} hPa <br>
                        Wind speed - {{ city_item.wind_speed }} meter/sec
                    </h7>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted">
            {{ city_item.timestamp|date:'Y-m-d | H:i:s' }}
        </div>
        <div class="card-footer text-muted">
            {% if CustomUser %}
                Users from {{ city_item.city_name }}: <br>
                {% for profile in CustomUser %}
                    {% if not forloop.last %}
                        <a href="/profile/{{ profile.id }}/">{{ profile.first_name }} {{ profile.last_name }}</a>,
                    {% else %}
                        <a href="/profile/{{ profile.id }}/">{{ profile.first_name }} {{ profile.last_name }}</a>
                    {% endif %}
                {% endfor %}
            {% else %}
                No users from {{ city_item.city_name }}
            {% endif %}
        </div>
        {% if city_item.searched_by_user == request.user %}
            <div class="card-footer text-muted">
                <a href="/siteweather/{{ city_item.id }}/delete_confirmation/">
                    Delete this block
                </a>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block time %}
    {% include 'inc/_time.html' %}
{% endblock %}
