{% extends 'base.html' %}

{% block title %}
    {{ city_item.city_name }} | {{ city_item.timestamp|date:'m/d/Y' }}
{% endblock %}

{% block sidebar %}
    {% include 'inc/_sidebar.html' %}
{% endblock %}

{% block pagination %}
    {% ifnotequal request.META.HTTP_REFERER|cut:"http://127.0.0.1:8000" request.get_full_path %}
        {% if request.META.HTTP_REFERER is not None %}
            <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-outline-success btn-block">
                Previous page
            </a>
        {% endif %}
    {% endifnotequal %}
{% endblock %}

{% block content %}
    <div class="card mb-4">
        <div class="card-header">
            <h5>
                {{ city_item.city_name }} | {{ city_item.country }}
            </h5>
        </div>
        <div class="card-body">
            <div class="media">
                <img src="https://openweathermap.org/img/w/{{ city_item.weather_icon }}.png" alt="icon">
                <div class="media-body">
                    <h6 class="card-text">{{ city_item.temperature }}°C</h6>
                    <h5 class="card-text">{{ city_item.weather_main_description }} </h5>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted">
            {{ city_item.timestamp|date:'Y-m-d | H:i:s' }}
        </div>
    </div>
    <form action="" method="post">
        {% csrf_token %}
        <button type="submit" class="btn-outline-success btn btn-block">
            Delete
        </button>
        <br>
    </form>
{% endblock %}