{% extends 'base.html' %}
{% load siteweather_extras %}

{% block title %}
  {{ city_item.city_name }} | {{ city_item.timestamp|date:'m/d/Y' }}
{% endblock %}

{% block sidebar %}
  {% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
  {% if deleted %}
    <div class="btn btn-block disabled btn-danger">
      <strong>
        City block has been successfully deleted
      </strong>
    </div>
  {% else %}
    <div class="card mb-4">
      <div class="card-header">
        <h5>
          {{ city_item.city_name }} | {{ city_item.country }}
        </h5>
      </div>
      <div class="card-body">
        <div class="media">
          <img src="https://openweathermap.org/img/w/{{ city_item.weather_icon }}.png" alt="icon">
          <div class="media-body">
            <h6 class="card-text">{{ city_item.temperature }}°C</h6>
            <h5 class="card-text">{{ city_item.weather_main_description }} </h5>
          </div>
        </div>
      </div>
      <div class="card-footer text-muted">
        {{ city_item.timestamp|parse_time|date:'Y-m-d | H:i:s' }}
      </div>
    </div>
    {% csrf_token %}
    <button type="submit" class="btn-outline-primary btn btn-block" id="submit-delete">
      Delete
    </button>
    <br>
  {% endif %}
{% endblock %}

{% block time %}
  {% include 'inc/_time.html' %}
{% endblock %}

{% block javascript %}
  <script>
    $(document).ready(function () {
      let token = '{{ csrf_token }}';
      $("#submit-delete").click(function (event) {
        event.preventDefault();
        $.ajax({
          headers: {"X-CSRFToken": token},
          type: 'DELETE',
          url: "{% url 'siteweather:delete' city_item.pk %}",
          success: function (response) {
            location.href = {% url 'siteweather:home' %};
            alert(response.message);
          },
          error: function (response) {
            alert(response["responseJSON"]["error"]);
          }
        })
      })
    })
  </script>
{% endblock %}