{% extends 'base.html' %}

{% block title %}
  Find by city name
{% endblock %}

{% block sidebar %}
  {% include 'inc/_sidebar.html' %}
{% endblock %}

{% block pagination %}
  {% ifnotequal request.META.HTTP_REFERER|cut:"http://127.0.0.1:8000" request.get_full_path %}
    {% if request.META.HTTP_REFERER is not None %}
      <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-outline-success btn-block">
        Previous page
      </a>
    {% endif %}
  {% endifnotequal %}
{% endblock %}

{% block content %}
  <form action="{% url 'siteweather:find_by' %}" method="post" autocomplete="off">
    {% csrf_token %}
    <div class="card mb-4">
      <div class="card-header">
        <div class="form-group">
          <label for="{{ form.city_name.id_for_label }}">
              City name:
          </label>
          {{ form.city_name }}
          {% if form.errors %}
            <br>
            {% for error in form.city_name.errors %}
              <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
              </div>
            {% endfor %}
          {% endif %}
        </div>
        <button type="submit" class="btn-outline-primary btn btn-block">
            Find
        </button>
      </div>
    </div>
  </form>
{% endblock %}

{% block time %}
  {% include 'inc/_time.html' %}
{% endblock %}
