{% extends 'base.html' %}
{% load static %}

{% block title %}
  Find by city name
{% endblock %}

{% block sidebar %}
  {% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
  <form action="{% url 'siteweather:find_by' %}" method="post" autocomplete="off">
    {% csrf_token %}
    <div class="card mb-4">
      <div class="card-header">
        <div class="form-group">
          <label for="id_city_name">
            City name:
          </label>
          <input type="text" class="form-control" name="city_name"
                 value="{{ data.username }}" required="" id="id_city_name">
          {% if errors %}
            <br>
            {% for error in errors.city_name %}
              <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
              </div>
            {% endfor %}
          {% endif %}
        </div>
        <button type="submit" class="btn-outline-primary btn btn-block">
          Find
        </button>
      </div>
    </div>
  </form>
{% endblock %}

{% block time %}
  {% include 'inc/_time.html' %}
{% endblock %}

{% block javascript %}
{% endblock %}
