{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block sidebar %}
    {% include 'inc/_sidebar.html' %}
{% endblock %}

{% block pagination %}
    {% include 'inc/_pagination.html' %}
{% endblock %}


{% block content %}
    {% for item in cities %}
        <div class="card mb-4">
            <div class="card-header">
                <h5>
                    {{ item.city_name }} | {{ item.country }}
                </h5>
            </div>
            <div class="card-body">
                <div class="media">
                    <img src="https://openweathermap.org/img/w/{{ item.weather_icon }}.png"/>
                    <div class="media-body">
                        <h6 class="card-text">{{ item.temperature }}°C</h6>
                        <h5 class="card-text">{{ item.weather_main_description }}
                        </h5>
                        <a href="{{ item.get_absolute_url }}" class="btn btn-outline-success btn-blockn">Read
                            more</a>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted">
                {{ item.timestamp|date:'Y-m-d | H:i:s' }}
            </div>
        </div>
    {% endfor %}
    <form action="{% url 'siteweather:home' %}" method="get" autocomplete="off">
        <label for="id_city_name_filter">
            <h6>City:</h6>
            <input type="search" class="form-control" name="city_name_filter"
                   required="" id="id_city_name_filter">
            {% if form.errors %}
                {% for error in form.city_name.errors %}
                    <br>
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
        </label>
        <button type="submit" class="btn-outline-success btn btn-block">
            Update
        </button>
        <br>
    </form>
{% endblock %}