{% extends 'base.html' %}
{% load siteweather_extras %}

{% block title %}
    Registered users
{% endblock %}

{% block sidebar %}
    {% include 'inc/_sidebar.html' %}
{% endblock %}

{% block pagination %}
    {% if user.role == 'Premium' or user.is_superuser %}
        {% include 'inc/_users_pagination.html' %}
    {% endif %}
{% endblock %}

{% block content %}
    {% if not profile %}
        {% if user.is_authenticated %}
            <div class="btn btn-block disabled btn-success">
                <strong>
                    Can not find any user
                    {% if request.GET.dict.city_name_filter %}
                        from {{ request.GET.dict.city_name_filter|correct_name }}
                    {% endif %}
                    {% if request.GET.dict.first_name_filter %}
                        <br>
                        whose name starts with {{ request.GET.dict.first_name_filter|correct_name }}
                        {{ request.GET.dict.last_name_filter|correct_name }}
                    {% elif request.GET.dict.last_name_filter|correct_name %}
                        <br>
                        whose surname starts with {{ request.GET.dict.last_name_filter|correct_name }}
                    {% endif %}
                </strong>
            </div>
        {% endif %}
    {% endif %}
    {% if user.role == 'Premium' or user.is_superuser %}
        <div class="list-group">
            {% for person in profile %}
                <a href="/profile/{{ person.pk }}/" class="list-group-item-action list-group-item">
                    {{ person.first_name }} {{ person.last_name }}
                    {% if person.user_city %}
                        | {{ person.user_city }}
                    {% endif %}
                </a>
            {% endfor %}
        </div>
        <br>
        <form action="{% url 'siteweather:users_list' %}" method="get" autocomplete="off">
            <label for="id_city_name_filter">
                City:
                <input type="search" class="form-control" name="city_name_filter"
                       id="id_city_name_filter" value="{{ request.GET.dict.city_name_filter|correct_name }}">
            </label>
            <label for="id_first_name_filter">
                First name:
                <input type="search" class="form-control" name="first_name_filter"
                       id="id_first_name_filter" value="{{ request.GET.dict.first_name_filter|correct_name }}">
            </label>
            <label for="id_last_name_filter">
                Surname:
                <input type="search" class="form-control" name="last_name_filter"
                       id="id_last_ame_filter" value="{{ request.GET.dict.last_name_filter|correct_name }}">
            </label>
            <button type="submit" class="btn-outline-success btn btn-block">
                Filter
            </button>
            <br>
        </form>
    {% else %}
        <div class="btn btn-block disabled btn-danger">
            <strong>
                You are not authorized to view this page.
            </strong>
        </div>
        <br>
    {% endif %}
{% endblock %}

{% block time %}
    {% include 'inc/_time.html' %}
{% endblock %}

