{% extends 'base.html' %}
{% load rest_framework %}
{% load siteweather_extras %}

{% block sidebar %}
  {% include 'inc/_sidebar.html' %}
  Last registered users:<br>
  {% last_registered_users 3 %}
{% endblock %}

{% block title %}
  Registration
{% endblock %}

{% block pagination %}
{% endblock %}


{% block content %}
  <form action="{% url 'siteweather:auth:register' %}" method="post" autocomplete="off">
    {% csrf_token %}
    <div class="card mb-4">
      <div class="card-header">
        <div class="form-group">
          <label for="{{ form.username.id_for_label }}">
            <h6>Username:</h6>
            {{ form.username }} <br>
            {% if errors %}
              {% for error in errors.username %}
                <div class="alert alert-danger">
                  <strong>{{ error|escape }}</strong>
                </div>
              {% endfor %}
            {% endif %}
          </label>
          <label for="{{ form.email.id_for_label }}">
            <h6>Email:</h6>
            {{ form.email }} <br>
            {% if errors %}
              {% for error in errors.email %}
                <div class="alert alert-danger">
                  <strong>{{ error|escape }}</strong>
                </div>
              {% endfor %}
            {% endif %}
          </label>
          <label for="{{ form.password.id_for_label }}">
            <h6>Password:</h6>
            {{ form.password }}
          </label>
          <label for="{{ form.password2.id_for_label }}">
            <h6>Repeat password:</h6>
            {{ form.password2 }} <br>
            {% if errors %}
              {% for error in errors.password2 %}
                <div class="alert alert-danger">
                  <strong>{{ error|escape }}</strong>
                </div>
              {% endfor %}
            {% endif %}
          </label>
          <label for="{{ form.first_name.id_for_label }}">
            <h6>First name:</h6>
            {{ form.first_name }} <br>
            {% if errors %}
              {% for error in errors.first_name %}
                <div class="alert alert-danger">
                  <strong>{{ error|escape }}</strong>
                </div>
              {% endfor %}
            {% endif %}
          </label>
          <label for="{{ form.last_name.id_for_label }}">
            <h6>Surname:</h6>
            {{ form.last_name }} <br>
            {% if errors %}
              {% for error in errors.last_name %}
                <div class="alert alert-danger">
                  <strong>{{ error|escape }}</strong>
                </div>
              {% endfor %}
            {% endif %}
          </label>
          <label for="{{ form.user_city.id_for_label }}">
            <h6>City:</h6>
            {{ form.user_city }} <br>
            {% if errors %}
              {% for error in errors.user_city %}
                <div class="alert alert-danger">
                  <strong>{{ error|escape }}</strong>
                </div>
              {% endfor %}
            {% endif %}
          </label>
          <label for="{{ form.phone_number.id_for_label }}">
            <h6>Phone number:</h6>
            {{ form.phone_number }} <br>
            {% if errors %}
              {% for error in errors.phone_number %}
                <div class="alert alert-danger">
                  <strong>{{ error|escape }}</strong>
                </div>
              {% endfor %}
            {% endif %}
          </label>
          <button type="submit" class="btn-outline-primary btn btn-block">
            Submit
          </button>
        </div>
      </div>
    </div>
  </form>
{% endblock %}
{% block time %}
  <br>
  {% include 'inc/_time.html' %}
{% endblock %}
