{% extends 'base.html' %}
{% load rest_framework %}
{% load siteweather_extras %}

{% block sidebar %}
  {% include 'inc/_sidebar.html' %}
  Last registered users:<br>
  {% last_registered_users 3 %}
{% endblock %}

{% block title %}
  Registration
{% endblock %}

{% block content %}
  <form action="{% url 'siteweather:auth:register' %}" method="post" autocomplete="off">
    {% csrf_token %}
    <div class="card mb-4">
      <div class="card-header">
        <div class="form-group">
          <label for="id_username">
            <h6>Username:</h6>
            <input type="text" class="form-control" name="username"
                   value="{{ data.username }}" required="" id="id_username"> <br>
            {% if errors %}
              {% for error in errors.username %}
                <div class="alert alert-danger">
                  <strong>{{ error|escape }}</strong>
                </div>
              {% endfor %}
            {% endif %}
          </label>
          <label for="id_email">
            <h6>Email:</h6>
            <input type="email" class="form-control" name="email"
                   value="{{ data.email }}" required="" id="id_email"> <br>
            {% if errors %}
              {% for error in errors.email %}
                <div class="alert alert-danger">
                  <strong>{{ error|escape }}</strong>
                </div>
              {% endfor %}
            {% endif %}
          </label>
          <label for="id_password">
            <h6>Password:</h6>
            <input type="password" class="form-control" name="password"
                   value="" required="" id="id_password">
          </label>
          <label for="id_password2">
            <h6>Repeat password:</h6>
            <input type="password" class="form-control" name="password2"
                   value="" required="" id="id_password2"> <br>
            {% if errors %}
              {% for error in errors.password2 %}
                <div class="alert alert-danger">
                  <strong>{{ error|escape }}</strong>
                </div>
              {% endfor %}
            {% endif %}
          </label>
          <label for="id_first_name">
            <h6>First name:</h6>
            <input type="text" class="form-control" name="first_name"
                   value="{{ data.first_name }}" required="" id="id_first_name"> <br>
            {% if errors %}
              {% for error in errors.first_name %}
                <div class="alert alert-danger">
                  <strong>{{ error|escape }}</strong>
                </div>
              {% endfor %}
            {% endif %}
          </label>
          <label for="id_last_name">
            <h6>Surname:</h6>
            <input type="text" class="form-control" name="last_name"
                   value="{{ data.last_name }}" required="" id="id_last_name"> <br>
            {% if errors %}
              {% for error in errors.last_name %}
                <div class="alert alert-danger">
                  <strong>{{ error|escape }}</strong>
                </div>
              {% endfor %}
            {% endif %}
          </label>
          <label for="id_user_city">
            <h6>City:</h6>
            <input type="text" class="form-control" name="user_city"
                   value="{{ data.user_city }}" required="" id="id_user_city"> <br>
            {% if errors %}
              {% for error in errors.user_city %}
                <div class="alert alert-danger">
                  <strong>{{ error|escape }}</strong>
                </div>
              {% endfor %}
            {% endif %}
          </label>
          <label for="id_date_of_birth">
            Date of birth:
            <input type="date" class="form-control" name="date_of_birth"
                   value="{{ data.date_of_birth }}" required="" id="id_date_of_birth" max="{% now 'Y-m-d' %}">
          </label>
          {% if errors %}
            {% for error in errors.date_of_birth %}
              <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
              </div>
            {% endfor %}
          {% endif %}
          <label for="id_phone_number">
            <h6>Phone number:</h6>
            <input type="text" class="form-control" name="phone_number"
                   value="{{ data.phone_number }}" required="" id="id_phone_number"> <br>
            {% if errors %}
              {% for error in errors.phone_number %}
                <div class="alert alert-danger">
                  <strong>{{ error|escape }}</strong>
                </div>
              {% endfor %}
            {% endif %}
          </label>
{#          <label for="id_preferred_choices">#}
{#            <h6>Preferred choices:</h6>#}
{#            <input type="checkbox" class="form-control" name="preferred_choices"#}
{#            value="{{ data.preferred_choices }}" required="" id="id_preferred_choices"> <br>#}
{#            {% if errors %}#}
{#              {% for error in errors.preferred_choices %}#}
{#                <div class="alert alert-danger">#}
{#                  <strong>{{ error|escape }}</strong>#}
{#                </div>#}
{#              {% endfor %}#}
{#            {% endif %}#}
{#          </label>#}
          <button type="submit" class="btn-outline-primary btn btn-block">
            Submit
          </button>
        </div>
      </div>
    </div>
  </form>
{% endblock %}
{% block time %}
  <br>
  {% include 'inc/_time.html' %}
{% endblock %}
